# docker-compose settings
MONGO_LOGIN=
MONGO_PASSWORD=
MONGOEXPRESS_LOGIN=
MONGOEXPRESS_PASSWORD=
SECRET_KEY=


# GestaurantOrder app settings

APP_DEBUG_MODE=false                # false / true

CONTAINERS_START_PARALLEL=true      # false / true

APP_DETECTION_MODE=fingers          # fingers / mediapipe

CAMERA_NUMBER=0                     # 0,1,2 depends on how much cameras you have

CAMERA_FILENAME="detected_gestures.json" # default json name
